<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://youkochan.github.io/" target="_blank" title="YeQing">YeQing's Blog</a></li>
      <li><a href="http://yutianx.info/" target="_blank" title="WuZhenxing">WuZhenxing's Blog</a></li>
      <li><a href="http://zespia.tw/hexo" target="_blank" title="Hexo">Hexo</a></li>
    </ul>
</div>
